{
    "thermostat_mac_address": "00:1A:22:00:00:00",
    "remote_secret": "a_very_secret_string",
    "remote_ssh_key": "/path/to/your/ssh/key",
    "remote_target_user": "user",
    "remote_target_ip": "192.168.1.100",
    "control_script_path": "/path/to/control.py"
}